<component name="libraryTable">
  <library name="springCore">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.1.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-3.2.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>